@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Laila:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Laila', serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #111;
}

.container {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1540px;
    height: auto;
}