/* settings start */
.settings {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    height: 100vh;
    background: #fff;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 99999;
}

.settings.show-settings {
    transform: translateX(0);
    transition-delay: 0.2s;
}

.toggle-settings {
    position: fixed;
    top: 40px;
    left: -50px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    background: #fff;
    border-radius: 0.2rem 0 0 0.2rem;
    border-right: 1px solid silver;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.toggle-settings.remove {
    transform: translateX(600%);
}

.toggle-settings span {
    color: #111;
    font-size: 1.4rem;
    animation: anim 1s linear infinite;
}

@keyframes anim {
    100% {
        transform: rotate(360deg);
    }
}

.colors h4,
.themes h4,
.views h4 {
    padding-bottom: 0.4rem;
    color: #2e2e3f;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-bottom: 2px dashed silver;
}

.colors-box {
    margin: 0.8rem 0 0.6rem 0;
    width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.8rem;
    cursor: pointer;
    list-style: none;
    place-items: center;
}

.color-btn span {
    font-size: 2rem;
}

.themes,
.views {
    margin-top: 1rem;
}

.themes-box,
.views-box {
    margin: 0.8rem 0 0.6rem 0;
}

.theme,
.view {
    margin-bottom: 0.4rem;
    padding: 0.5rem 0.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.2rem;
}

.theme.active-theme-btn,
.view.active-view-btn  {
    background: silver;
}

.theme:hover,
.view:hover {
    background: silver;
}

.theme span,
.view span {
    color: #222;
    font-size: 1.2rem;
}

.theme p,
.view p {
    color: #222;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 0.4rem;
}
/* settings end*/