.sidebar {
    padding: 1.2rem 1.4rem;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background: #222;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    z-index: 99999;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar > .logo {
    text-decoration: none;
    display: inline-block;
}

.sidebar > .logo > h1 {
    color: #fff;
    font-size: 2rem;
    font-family: 'Amita', serif;
}

.nav-links {
    padding: 0.8rem 0;
}

.nav-links > li {
    margin-bottom: 0.8rem;
    list-style-type: none;
}

.nav-links > li > a {
    width: 100%;
    color: #fff;
    font-size: 1rem;
    display: block;
    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links > li > a:hover,
.nav-links > li > a.active {
    background: #333;
}


/* sidebar close button */
.close-sidebar {
    position: absolute;
    top: 2rem;
    right: 1.6rem;
    color: #666;
    font-size: 1.2rem;
    cursor: pointer;
}